/* (A) GOOGLE MATERIAL ICONS - https://fonts.google.com/icons */
@font-face{font-family:"Material Icons";src:url(maticon.woff2) format("woff2")}
.mi{font-family:"Material Icons";font-weight:400;font-style:normal;text-decoration:none;letter-spacing:normal;text-transform:none;display:inline-block;white-space:nowrap;word-wrap:normal;direction:ltr;-webkit-font-feature-settings:"liga";-webkit-font-smoothing:antialiased}

/* (B) GLOBAL */
html, body {
  position: relative;
  min-height: 100vh;
  margin: 0; padding: 0;
  color: #fff;
  background: #0a1e39;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

/* (C) WRAPPER */
#cb-main {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 30px 10px;
  max-width: 600px;
  margin: 0 auto; padding: 20px 10px;
}

/* (D) BUTTON ICON & TEXT */
.sound {
  text-align: center;
  cursor: pointer;
}
.sound .mi {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  background: #445368;
  font-size: 48px;
  transition: all 0.5s;
}
.sound.playing .mi {
  color: #000;
  background: #fff;
}

/* (X) ABOUT */
#aboutFoot {
  padding : 10px 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  color: #9b9b9b;
  cursor: pointer;
}
#aboutWrap {
  position:absolute; top: 0; left: 0; z-index: 999;
  width: 100vw; height: 100%; min-height: 100vh;
  padding: 0; margin: 0; border: 0;
  background: rgba(0,0,0,0.5);
}
#aboutWrap:is([open]) {
  display: flex; flex-wrap: wrap;
  align-items: center; justify-content: center;
}
#aboutWrap:is([open]) #aboutPop {
  position: relative;
  background: #fff;
}
#aboutCX {
  position: absolute;
  top: 0; right: 0;
  border-radius: 50%;
  padding: 10px;
  font-size: 30px;
  font-weight: 700;
  color: var(--bg-color-c);
  cursor: pointer;
  background: #fff;
}
#aboutHead {
  width: 100%;
  max-height: 350px;
  object-fit: contain;
}
#aboutLinks {
  padding: 20px;
}